
details {
font-weight: bold;
color: #4f4;
}

.custom-summary {
font-weight: bold;
}

summary  {
font-weight: bold;
font-size: 150%;
color: #44f;
}


custom-summary {
color: red;
font-weight: bold;
  font-size: 150%;
}
